div.content
	ul.gallery
		li(ng-repeat="photo in photos")
			img.slide(ng-src="{{photo.src}}", ng-show="isActive($index)", ng-animate="{show: 'animate-show', hide:'animate-hide'}")
a.prev(ng-click="prev()") prev
a.next(ng-click="next()") next
