table.table
	thead
		tr
			th Fullname
			th Address
			th Sex
			th DOB
			th Email
	tbody
		tr(ng-repeat="staff in staffs", ng-click="viewDetail(staff._id)")

			td{{staff.lastname}} {{staff.firstname}}
			td{{staff.address}}
			td{{staff.gender}}
			td{{staff.dob}}
			td{{staff.email}}

div(ng-if="detail") staff information 
	a(href="" ng-click="edit()") Edit
	table.table
		tbody
			tr
				td Fullname
				td(ng-hide="edited"){{detail.lastname}} {{detail.firstname}}
				input(type="text", ng-show="edited", ng-model="detail.firstname")
			tr
				td Address
				td {{detail.address}}
			tr
				td Sex
				td {{detail.gender}}
			tr
				td DOB
				td {{detail.dob}}
			tr
				td Email
				td {{detail.email}}

