//- h1 {{asd}}
div.row
	div.col-sm-6.col-md-4.col-md-offset-4
		h1.text-center.login-title login
		div.account-wall
			form.form-signin(ng-submit="login()")
				div
				input(type="text", placeholder="Username", name="username", ng-model="username", ng-required="true").form-control
				input(type="password", placeholder="Password", name="password" ,ng-model="password", ng-required="true").form-control
				button.btn.btn-lg.btn-primary.btn-block(type="submit") {{buttonText}}