div.row
	div.col-xs-3(ng-repeat="post in posts track by $index")
		div.well
			h3.postTitle
				a(ng-href="#/post/{{post.id}}/{{post.permalink}}") {{post.title}}
				h5 By: {{post.author}} | {{post.datePublished}}