div.row
	div.col-xs-8.col-xs-offset-2
		span.pull-right.cross-btn(ng-click="closePost()") X
		h1{{singlePost.title}}
		h5 By: {{singlePost.author}} | {{singlePost.datePublished}}
		div.postContent {{singlePost.content}}
