// Common
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: @body-bgcolor;
  color: @text-color;
  text-align: center;
  .opacity(0.75);
}
.browsehappy {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: @body-bgcolor;
  color: @text-color;
  text-align: center;
  .opacity(0.75);
}
.myform {
  width: 800px;
  margin: 0 auto;
}
.input-1 {
  display: block;
  padding: 5px;
}
.loginFailed {
  display: none;
}
.mytable td{
  width: 800px;
  padding: 5px;
}
ul {
  width: 10000px;
  white-space: nowrap;
}
li {
  float: left;
}
.content {
  width: 800px;
  overflow: hidden;
}
.animate-show, .animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;

}

.animate-show {
  opacity:0;
}

.animate-show.animate-show-active {
  opacity:1;
}

.animate-hide {
  opacity:1;
}

.animate-hide.animate-hide-active {
  opacity:0;
}