header#header
  +link('Logo', 'index.html').logo
  nav
    ul
      li: +link('Home', 'index.html')
      li: +link('Post', '#/post')
      li: +link('Contact', '#/contact')
      li: +link('Information', '#/information')
      li: +link('Login', '#/login')
      li: +link('Gallery', '#/gallery')